.experienceWrap{
    width:100%; height:430vh;
    /* overflow: hidden; */
}

.scrollCase{
    width:100%; height:570px;
    position:sticky; top:50%;
    transform: translateY(-50%);
    overflow-x: scroll; opacity: 0;
    transition: all 0.5s ease;
    /* z-index:-1; */
}

.scrollSlider{
    position:absolute;
    display:flex;
    column-gap: 100px;
    padding: 0 100px;
}

.scrollZone{
    position: relative;
    width:1300px; height:560px;
    margin-left:40px;
    display:flex; justify-content: space-between;
    color:#393939;
}

.leftZone{
    width:55%;
}
.leftZone .titleBox{
    position: relative;
    display:flex; justify-content: space-between;
    /* border:1px solid black; */
}
.leftZone .titleBox > div:first-child{
    display:flex; align-items: center;
}
.leftZone .titleBox > div:first-child > span{
    font-size:100px; font-weight:bolder;
    color: #d9d9d9; position:absolute;
    top:-30px; left:-30px; z-index:4;
}
.leftZone .titleBox > div:first-child > div{
    padding-left:90px; font-size:150%;
    font-weight:bolder; flex-grow:1;
}
.leftZone .titleBox > div:last-child{
    justify-self: right; align-self: end;
    color: #979797; font-size:20%;
}
.leftZone .imageBox{
    width:100%; height:fit-content;
    /* border:1px solid black; */
}
.leftZone .imageBox img{
    width:100%; border-radius: 20px;
}


.middleZone{
    width:30%; padding:30px 20px 0px 20px;
    color:#393939;
    display:flex; flex-direction: column;
    align-items: end; position: relative;
}
.middleZone .midTitle{
    font-size:20px; font-weight:bolder;
    width: 100%;
}
.middleZone .midInfo{
    margin: 15px 0; width:100%;
}
.middleZone .midInfo > div:first-child{
    width:100%;
    font-size:15px; font-weight:900;
    /* border-bottom:1px solid black; */
    background:#e4e4e4;
    padding: 5px 10px; border-radius: 0px 30px 30px 0px;
    margin-bottom:10px;
}
.middleZone .midInfo > div:last-child{
    font-size:15px; padding: 0px 10px;
}

.middleZone > button{
    font-size:16px; font-weight:600;
    color:white; background: var(--bgColor);
    border-radius: 30px; border: none;
    padding:7px 15px; text-align: center;
    cursor:pointer; position: absolute;
    bottom:0;
}


.rightZone{
    width:10%;
    border-right: 5px solid #D9D9D9;
    /* border:1px solid black; */
}
.rightZone > div{
    font-size:30px; font-weight:bolder;
    color:#D9D9D9; text-align: right;
    padding-right:15px; height:100%;
}


/** 작가 지망생 시절*/
.leftZone .illustBox{
    width:715px; height:535px;
    border-radius: 20px;
    overflow:hidden;
    position:relative;
}
.leftZone .illustBox .illustSlider{
    width:fit-content;
    position:absolute;
    display:flex; justify-content: space-between;
    align-items: center;
}
.leftZone .illustBox img{
    height:100%;
}
.leftZone .illustBox div{
    width:100%; height:100%;
    overflow:hidden;
    display:flex; justify-content: space-around;
}


/**개발자 시작*/
.techs{
    display:flex; flex-wrap: wrap;
    column-gap:5px;
}
.techs div{
    background:#393939; color:white;
    font-weight:bolder; padding:5px 10px;
    border-radius: 30px; margin-bottom:5px;
    z-index:1000;
}

.exPhotoBox{
    display:flex; flex-direction: column;
    row-gap:15px;
}

.learnphotos{
    width:100%; height:50%;
    display:flex; justify-content: space-between;
    column-gap: 15px;
}
.learnphotos div{
    width:50%; height:250px;
    overflow:hidden;
}
.learnphotos div:hover{
    transition:1s;
    transform:scale(1.1);
    z-index:100;
}
.learnphotos img{
    width:100%; height:100%;
    border-radius: 20px;
}


.videoBox{
    width:100%; height:260px;
    background:#D9D9D9; border-radius: 20px;
}