.introWrap{
    height:480vh;
}

.intro{
    position:sticky; top:0;
    width:100%; height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.introTitleWrap{
    max-width:500px;
    display:flex; flex-direction: column;
    align-items: center;
    row-gap:45px;
}

.introLogoWrap{
    width:100%;
    display: flex;
    row-gap:-100px;
    transform: translateY(-100%);
    opacity: 0;
}
.introLogoWrap img{
    width:100%;
}

.introLine{
    width:0px; height:2px;
    background:white;
    margin-top:5px;
}

.titleWordWrap{
    position:relative;
    display:flex; justify-content: center;
    align-items: center;
}

.titleWordBox{
    display:flex; flex-direction: column;
    align-items: center;
    font-size:var(--semiTitleFont);
    row-gap:10px;
}

.titleWord{
    color:white; font-weight:900;
    overflow:hidden;
    text-align: center;
    line-height:50px;
    /* border-right:5px solid white; */
    /* animation: typing 0.5s infinite; */
}
@keyframes typing{
    from{
        border-right:5px solid white;
    }
    to{
        border-right: transparent;
    }
}

.titleChev{
    position:absolute;
    z-index:0;
}
.titleChev:first-child{
    left:-70px;
}
.titleChev:last-child{
    right:-70px;
}


.introSlogun{
    color:white;
    text-align: center;
    font-size:var(--normalFont);
    transform:translateY(100%);
    opacity: 0;
}
.linAniWrap{
    position:absolute;
    left:-47px; top:-15px;
}
.lineAni{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: drawPath 4s ease 1s infinite;
}

@keyframes drawPath {
    to {
      stroke-dashoffset: 0;
    }
  }


.introCoverWrap{
    margin-top:50px;
    width:100%;
    color:white; display:flex;
    justify-content: space-between;
    column-gap: 0px;
}

.hashTagS{
    width:fit-content; text-align: center;
    transform:translateY(100%);
    opacity: 0;
}



/*외부 사각형 틀*/
.introCoverWrapper{
    position:fixed; top:0; left:0;
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    z-index:-1;
}
.introCoverWrapper img{
    position:relative;
    width:50%; height:100vh;
}


/*등장 클래스*/
.introEntrance{
    transform: translate(0);
    transform: translateY(0);
    opacity: 1;
    width:100%;
    transition: all 1s ease-out;
}


